#sidebar {
    height: 100%;
    width: 220px;
    margin-left: 10px;
}

#buttons-go-here { 
    display: block;
}

.row {
    height: 100%;
}

body, html {
    position: relative; 
    height:100%;
}